RABBITMQ_DEFAULT_USER=qblol
RABBITMQ_DEFAULT_PASS=Pejaten13!
RABBITMQ_DEFAULT_PORT=5672
RABBITMQ_DEFAULT_EXCHANGE=bulbasaur
# rabbit prod
RABBITMQ_URL=3.0.109.183
RABBITMQ_QUEUE_NAME=thermal-sync
CRON_SCHEDULE_LAST_MINUTE=120
LIMIT_SYNC_DATA=100